<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="static/style/main.css" />
    <link rel="stylesheet" href="static/style/mri.css" />
    <script src="/static/assets/jquery.js"></script>
    <script>
      $(function () {
        $("#navbar").load("/static/html/navbar.html", function () {
          $("#accueil").addClass("active");
        });
      });
      $(function () {
        $("#logovecteur").load("/static/html/logovecteur.html");
      });
    </script>
  </head>
  
  <body>
    <div id="navbar"></div>
    <br />
    <br />
    <br />
    <div id="mri_full" class="mri_full">
        {{html}}
    </div>
  </body>

  <script>
    let mri = document.getElementById("mri_full")
    const data = mri.textContent;
    mri.textContent=''
    mri.innerHTML=data
  </script>